.about-pic {
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  margin-bottom: 3rem;
}

.aboutImage {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.aboutImage img {
  width: 100%;
}

.welcome-about {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* margin-top: -70px; */
  width: 100%;
  max-width: 500px;
}

.welcome-about .welcome-text {
  background-color: white;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 10px 0 10px 0;
  color: #000;
  font-size: larger;
  font-weight: bolder;
  margin: 0;
}

.about-para {
  text-align: left;
  padding-left: 70px;
  font-size: 15px;
  color: #414141;
}

.welcome-text h2 {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.welcome-text p {
  margin: 0;
  margin-top: 8px;
}
.sec-title {
  text-align: left;
  padding-left: 70px;
  color: #414141;
  font-size: 17px;
  font-family: "poppins";
}

.learn-btn {
  padding: 10px;
  margin-left: 70px;
  margin-bottom: 70px;
  color: white;
  background-color: #74147c;
  font-family: "poppins";
  font-weight: bold;
  border: none;
  border-radius: 4px;
}
