.card-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #DFDDDD;
}

.card-row {
  display: flex;
  justify-content: space-between;
}

.card-row .card {
  flex-basis: calc(50% - 10px);
}


@media (max-width: 768px) {
  .card-row {
    flex-direction: column;
  }
}
.call-action{
    text-align: center;
    padding-bottom: 30px;
   
    
}
.class-text{
    text-align: center;
}