
.faq-section {
    padding-left: 20px ; 
    padding-top: 30px;
  
    font-family: 'poppins';
  }
  
  .faq-section .faq-text,
  .faq-section .faq-para {
    padding-left: 50px; 
    font-size: 14px;
    color: #414141;
   
    
  }
  .faq-section .faq-text{
    font-weight: bold;
    font-size: 30px;
    font-family: 'poppins';
    
  }
  .send-btn{
    padding: 10px;
    color: white;
    background-color:  #74147c;
    font-family: 'poppins';
    font-weight: bold;
    border: none;
  border-radius: 20px 0px 20px 0px;
  }

  .contact-bell{
    padding-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    margin-left: 50px;
    
  }
  .contact-bell p{
    color: #121212;
    margin-left: 30px;
    margin-top: 10px;
  }
  
