
.header {
  padding: 10px 20px;
  background-color: white;
 

  height:6Opx; 

  top: 25px;
  left: 109px;
  gap: 105px;
 
  overflow: hidden;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 60px;
  
}

.logo .para-ca {
  margin-left: 10px;
  color: #74147c;
  font-family: 'poppins';
  font-size: 18px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  text-decoration: none;
  
}

.header-items {
  display: flex;
  align-items: center;
  /* margin-right: 150px; */
  
}

.header-items ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}

.header-items ul li {
  margin: 0;
  font-family: 'poppins';
  font-size: 14px;
  color: #323232;
  line-height: 19.2px;
  text-align: left;
  font-weight: 600;
}

.header-items ul li a {
  text-decoration: none;
  color: #333;
}

.button-container {
  margin-left: 200px;
}

